
.header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  
    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 20px;
    }
  
    .header__nav {
      font-size: 1.5rem;
      text-transform: uppercase;

    }
  
    .header__link {
      margin-left: 220px;
      color: #fff;
      text-decoration: none;
      transition: color 0.3s ease-in-out;
  
      &:hover {
        color: #f0c040;
      }
  
      &.active-link {
        color: #f0c040; 
      }
    }
  }
  